.frame-40 {

    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1px;
    width: 100%;
    height: 73px;
    justify-content: space-between;
    gap: 1px;
    margin-bottom: 64px;
}

.frame-219 {

    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-right: 64px;
    gap: 16px;
}

.frame-39 {

    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;


}

.text-t1 {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.frame-29 {
    position: relative;
    bottom: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding-top: 8px;
    flex-direction: row;
    justify-content: flex-end;
}

.input-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.input-box-select {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 12px 16px;
}

.delete-button {
    cursor: pointer;
}

.taskForm {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.floating-add-task-backlog-v-1 {
    position: absolute;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    background: #FFF;
    left: 25%;
    top: 10%;
    margin: 64px;
    padding: 64px;
}

.addTaskHtml {
    padding-left: 286px;
}

.closeDivTask {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 2s;
}

.closeDivTask:hover {
    border: 1px solid var(--Style, #acacac);

}

.label-in-txt {
    align-self: stretch;
    color: var(--version-2-main-color, #2A3647);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media  {
    
}