.board-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 8px;
    padding-left: 234px;
    padding-right: 8px;
}


.frame-191 {
    display: flex;
    height: 232px;
    overflow: hidden;
    background: #F6F7F8;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.frame-192 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 79.5px 64px;
}

.frame-123 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    width: 504px;
    height: 48px;
}

.frame-40 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.search-task-web {
    display: flex;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
    height: 48px;
}

.column-title {
    display: flex;
    width: 1208px;
    padding: 0px 64px;
    justify-content: space-between;
    align-items: flex-start;
}

.frame-136 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.column-title-text {
    color: var(--menu-color, #42526E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.plus-button {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 8px;
    border: 2px solid var(--version-2-main-color, #2A3647);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}


.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    /* Anpassen der Breite nach Bedarf */
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

.search-icon {

    padding: 0 16px;
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    cursor: pointer;
}


.add-new-task-btn {

    border-radius: 10px;
    border: 1px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 16px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.add-new-task-btn:hover {
    background-color: #091931;
    cursor: pointer;
}

.add-new-task-text-div {
    width: 100px;
    height: 25px;
    font-family: Inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: #ffffff;
    margin: 0;
}

/* for FullTaskFrame */

.fullTaskCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #77889978;
}

.floatingTask {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100vh;
}

/* taskOverLay Classes */

.task-overlay-v-1 {
    display: flex;
    width: 525px;
    padding: 48px 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    background: #FFF;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.task-overlay-v-1-Title {
    align-self: stretch;
    color: var(--black, #000);
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.task-overlay-v-1-t6 {
    align-self: stretch;
    color: var(--black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.frame-178 {
    display: flex;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.frame-215 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.frame-204 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    align-self: stretch;
}

.assigned-circle {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: -7px; /* Negative margin for overlap */
}

.assigned-circle-txt {
    color: #FFF;
    text-align: center;

    /* Version 2/t7 */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
}

.frame-assigned-circ{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    gap: -4px;
}