/* animation vom logo loginp */

#loading-logo.hidden {
    transform: translateX(50%);
    opacity: 0;
}

#login-container {
    display: none;
}


/* Simulate a delay with animation-delay */
@keyframes showLogin {
    0% {
        display: none;
    }

    99.99% {
        display: none;
    }

    100% {
        display: flex;
    }
}

/* Neue Style */

.priority-button {
    border: 2px solid #fff;
    color: #000;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
    display: inline-block;
}

.priority-button:hover {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.priority-button:active {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
}

.priority-button:focus {
    background-color: #ff0000;
    color: #fff;
    border: 2px solid #ff0000;
}

/* Entfernen der Standard-Fokusring-Stile */
.priority-button:focus {
    outline: none;
}