

.generalcontacts-frame97 {
    position: absolute;
    width: 456px;
    height: 928px;
    top: 96px;
    left: 232px;
    background-color: green;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.bar {
    position: absolute;
    width: 24px;
    height: 928px;
    left: 432px;
    background-color: red;
}

.vector-13 {
    position: absolute;
    width: 10px;
    height: 4px;
    top: 908px;
    left:17px;
    /*rotation: 180;*/
    color: #A8A8A8;
}

.vector-12 {
    position: absolute;
    width: 10px;
    height: 4px;
    top: 20px;
    left: 8px;
    color: #A8A8A8;
}

.btn-div {
    width: 456px;
    height: 101px;
}

.add-new-contact-btn {
    position: absolute;
    width: 352px;
    height: 56px;
    top: 22.5px;
    left: 52px;
    border-radius: 10px;
    border: 1px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 16px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-contact-btn:hover {
    background-color: #091931;
    cursor: pointer;
}

.add-new-contact-text-div {
    width: 175px;
    height: 25px;
    font: inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: #ffffff;
}

.add-img {
    width: 32px;
    height: 32px;
}

.contact-letter-frame-119 {
    width: 352px;
    height: 58px;
    gap: 8px;
    display: flex;
    align-items: center;
    padding-left: 36px;
    background-color: red;
}

.vector-10 {
    width: 352px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 10px;
}

.contact-name {
    width: 352px;
    height: 78px;
    background-color: aquamarine;
}

.contact-name-circle {
    width: 42px;
    height: 42px;
}