@media (max-width: 700px) {

    /*.overlay-add-contact {
        width: 396px;
        height: 760px;
        border-radius: 30px;
    }*/

    .contacts {
        width: 400px;
        height: 766px;
        position: absolute;
        /*top: 80px;*/
        left: 14px;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .show-contact {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .generalcontacts-frame97 {
        width: 428px;
        height: 766px;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
    }

    .btn-div {
        display: none;
    }

    .add-contact-img-mobile-div {
        display: block !important;
    }







    /* show selected contact */
    .contacts-header-frame40 {
        width: 213px;
        height: 104px;
        position: absolute;
        top: 128px;
        left: 16px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .contacts-header-txt-bold {
        font-size: 47px;
        line-height: 56.4px;
        position: absolute;
        left: 0;
    }

    .contacts-header-txt-small {
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        left: 0;
        top: 50px;
    }

    .contacts-header-img {
        rotate: -90;
    }







    .mobile-header {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 428px;
        height: 89px;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
        /* shadow on the bottom of the box */
        background-color: #FFFFFF;
        /* Padding20px, 16px, 20px, 16px*/
    }

    .logo-img-mobile-header {
        width: 32px;
        height: 39.02px;
    }

    .header-figma {
        display: none;
    }









}