@media (max-width: 700px) {

    /*.overlay-add-contact {
        width: 396px;
        height: 760px;
        border-radius: 30px;
    }*/

    .contacts {
        width: 100%;
        /*height: 766px !important;*/
        height: 726px !important;
        position: absolute;
        /*top: 80px;*/
        left: 14px;
        align-items: center;
        flex-direction: column;
        display: flex;
        overflow-y: scroll;
    }

    .display-flex {
        display: flex !important;
    }

    .show-contact {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .generalcontacts-frame97 {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        height: 100%;
    }

    .btn-div {
        display: none;
    }

    /*.add-contact-img-mobile-div {
        display: block !important;
    }*/







    /* show selected contact */
    .contacts-header-frame40 {
        width: 213px;
        height: 104px;
        position: absolute;
        top: 128px;
        left: 16px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .contacts-header-txt-bold {
        font-size: 47px;
        line-height: 56.4px;
        position: absolute;
        left: 0;
    }

    .contacts-header-txt-small {
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        left: 0;
        top: 50px;
    }

    .contacts-header-img {
        transform: rotate(90deg);
        margin-top: 50px;
        margin-left: -150px;
    }


    /* show selected contact */

    .view-contact-div {
        display: flex;
        flex-direction: column;
        height: 274px;
        width: 330px;
        position: absolute;
        top: 280px;
        left: 16px;
        gap: 21px;
    }

    .show-name {
        width: 326px;
        height: 80px;
    }

    .show-name-close {
        width: 226px;
        height: 43px;
        gap: 13px;
    }

    .edit-name {
        display: none;
    }

    .show-name-circle {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-name-circle-img {
        width: 80px;
        height: 80px;
    }

    .show-name-circle-txt {
        width: 53.33px;
        height: 19.05px;
        position: absolute;
        top: 30.48px;
        /*left: 13.33px;*/
        font-weight: 400;
        font-size: 27px;
        line-height: 32.4px;
        text-align: center;
    }

    .name-container-frame81 {
        font-weight: 700;
        font-size: 36px;
        line-height: 43.2px;
        height: 43px;
    }

    .contact-information {
        width: 330px;
        height: 24px;
        gap: 30px;
    }


    /* Arrow left for responsive only */
    .arrow-left-for-responsive {
        position: absolute;
        top: 128px;
        left: 380px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow-left-for-responsive-img {
        width: 24.6px;
        height: 23.92px;
    }


    /* */
    .menu-contact-options-responsive {
        /* top: 760px !important; */
        top: 560px !important;
    }


    /* add-contact-img-mobile-div */
.add-contact-img-mobile-div {
    display: flex !important;
}









    .mobile-header {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 89px;
        box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
        /* shadow on the bottom of the box */
        background-color: #FFFFFF;
        /* Padding20px, 16px, 20px, 16px*/
    }

    .logo-img-mobile-header {
        width: 32px;
        height: 39.02px;
    }

    .header-figma {
        display: none;
    }









}