

.generalcontacts-frame97 {
    position: absolute;
    width: 456px;
    height: 928px;
    top: 96px;
    left: 232px;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.bar {
    position: absolute;
    width: 24px;
    height: 928px;
    left: 432px;
}

.vector-13 {
    position: absolute;
    width: 10px;
    height: 4px;
    top: 908px;
    left:17px;
    /*rotation: 180;*/
    color: #A8A8A8;
}

.vector-12 {
    position: absolute;
    width: 10px;
    height: 4px;
    top: 20px;
    left: 8px;
    color: #A8A8A8;
}

.btn-div {
    width: 456px;
    height: 101px;
}

.add-new-contact-btn {
    position: absolute;
    width: 352px;
    height: 56px;
    top: 22.5px;
    left: 52px;
    border-radius: 10px;
    border: 1px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 16px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-contact-btn:hover {
    background-color: #091931;
    cursor: pointer;
}

.add-new-contact-text-div {
    width: 175px;
    height: 25px;
    font: inter;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    color: #ffffff;
}

.add-img {
    width: 32px;
    height: 32px;
}

.contact-letter-frame-119 {
    width: 352px;
    height: 58px;
    gap: 8px;
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.vector-10 {
    width: 352px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 10px;
}

.contact-name {
    width: 352px;
    height: 78px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.contact-name:hover {
    background-color: #091931;
    color: white;
    cursor: pointer;
}

.contact-name-circle {
    width: 42px;
    height: 42px;
    position: relative;
}

.contact-name-circle-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.name-mail-div-frame81 {
    width: 140px;
    height: 48px;
    gap: 5px;
    margin-left: 35px;
}

.contact-name-txt {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    height: 24px;
}

.contact-email {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    height: 19px;
    color: #007CEE;
}

.contacts-header-frame40 {
    position: absolute;
    width: 569px;
    height: 73px;
    top:206px;
    left: 743px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.contacts-header-txt-bold {
    width: 274px;
    height: 73px;
    font-family: inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    color: #000000;
}

.contacts-header-txt-small {
    width: 235px;
    height: 32px;
    font-family: inter;
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
    color: #2A3647;
}



/* view-contact-div*/
.view-contact-div {
    position: absolute;
    width: 461px;
    height:364px;
    top: 311px;
    left: 750px;
    gap: 21px;
}

.show-name {
    width: 461px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-name-circle {
    width: 120px;
    height: 120px;
    position: relative;
    gap: 10px;
}

.show-name-circle-img {
    width: 120px;
}

.show-name-circle-txt {
    width: 80px;
    height: 28.57px;
    top: 45.71px;
    left: 20px;
    font-family: inter;
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
    color: #ffffff;
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-name-close {
    width: 287px;
    height: 88px;
}

.name-container-frame81 {
    width: 287px;
    height: 56px;
    gap: 5px;
    font-family: inter;
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
}

.edit-name {
    width: 159px;
    height: 24px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.edit-name-sub {
    width: 62px;
    height: 24px;
    gap: 8px;  /*originally: 13px*/
    display: flex;
    align-items: center;
}

.edit-name-sub:hover {
    cursor: pointer;
}

.edit-pen-img {
    height: 24px;
    width: 24px;
}

.edit-txt {
    width: 30px;
    height: 19px;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.delete-container {
    display: flex;
    width:81px;
    height: 24px;
    left: 78px;
    gap: 8px;
    background-color: yellowgreen;
}

.delete-img {
    width: 16px;
    height: 18px;
    margin-top: 3px;
    margin-left: 4px;
}

.delete-txt {
    width: 49px;
    height: 19px;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.contact-information {
    width: 207px;
    height: 74px;
    gap: 59px;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.information-mail-phone-div {
    width: 140px;
    height: 128px;
    background-color: green;
}

.mail-div {
    width: 140px;
    height: 53px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: orange;
}

.email-txt {
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    color: #000000;
}

.actual-email {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #007CEE;
}






