.kanban-board {
    display: flex;
    min-height: 64px;
    padding: 0px 64px;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.kanban-column {
    flex: 1;
    padding: 10px;
    margin: 10px;
    min-height: 50dvh;
    gap: 16px;
    
}

.kanban-card-display {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    scroll-behavior: smooth;
}

.kanban-card {
    display: flex;
    width: 280px;
    padding: 16px;
    margin-top: 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background: var(--white, #FFF);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: grab;
    /* Hinzufügen eines Zeigers für das Ziehen */
}

.kanban-card:active {
    transform: rotate(5deg);
}

.frame-119 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 220px;
    height: 212px;

}

.labels-board-card-label {
    display: flex;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 8px;
    background: #0038FF;
    color: #FFF;

    /* Version 2/body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

.frame-114 {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.progress-bar-custom-parent {
    display: flex;
    padding: 0px 6px 2px 0px;
    align-items: center;
    gap: 11px;
}

.progress-bar-custom {
    display: flex;
    width: 128px;
    overflow: hidden;
    padding-right: 0px;
    border-radius: 8px;
    background: #F4F4F4;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.frame-139 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.cardTopic {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

}

.cardTitle {
    align-self: stretch;
    color: var(--version-2-main-color, #2A3647);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.cradDescrip {
    align-self: stretch;
    color: var(--icon, #A8A8A8);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.cardProgress {
    display: flex;
    padding: 0px 8px 2px 0px;
    align-items: center;
    gap: 11px;
}

.frame-delete {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}

.frame-delete-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.no-task {
    display: flex;
    height: 48px;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    background: #E7E7E7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    align-self: stretch;
    color: var(--icon, #A8A8A8);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media (max-width: 1660px) {

    .kanban-board {
        display: flex;
        min-height: 64px;
        padding: 0px 8px 80px 8px;
        align-items: flex-start;
        gap: 6px;
        flex-shrink: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: flex-start;
        overflow: auto;
        overflow-x: scroll;
    }

    .kanban-card-display {
        width: 100%;
        display: flex;
        padding-bottom: 6px;
        flex-direction: row;
        scroll-behavior: smooth;
        overflow: visible;
        scroll-margin-top: 80px;
        scroll-margin-bottom: 100px;
    }

    .kanban-column {
        flex: 1;
        padding: 10px;
        margin: 10px;
        min-height: 0;
        gap: 16px;
        width: 100%;
        overflow-x: auto;
        /* Enable horizontal scrolling for the kanban column */
    }
}


@media screen {}