/* general style */

body {
    height: 100vh;
    background-color: #F6F7F8 !important;
}

text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* index page + login padge */

.loginLogo {
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 265px 0px 265px 0px;
    background: #F6F7F8;
    justify-content: center;
    align-items: center;
}

.logoJoin {
    width: 274px;
    height: 334.072px;
    flex-shrink: 0;
}

.loginInput {
    display: inline-flex;
    overflow: hidden;
    padding: 48px 115px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background: var(--white, #FFF);
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.frame-153 {
    width: 652px;
    height: 493px;
    display: inline-flex;
    overflow: hidden;
    padding: 48px 115px;

    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.frame-159 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.frame-159-text {
    width: 315px;
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

}

.frame-250 {
    width: 422px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    align-self: stretch;
}

.log-in-frigma {
    display: flex;
    height: 152px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 16px;
}

.frame-14 {
    display: flex;
    width: 422px;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    align-items: center;
    gap: 10px;
}

.frame-157 {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.frame-158 {
    display: flex;
    padding: 0px 241px 0px 39px;
    align-items: center;
    align-self: stretch;
}

.frame-37 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.check-button {
    width: 24px;
    height: 24px;
}

.check-button-text {
    width: 110px;
    height: 19px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.frame-176 {
    width: 322px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.frame-156 {
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 35px;
    height: 49px;
    top: 67px;
    right: 122px;
    gap: 35px
}

.frame-156-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* Header*/

.header-figma {
    display: flex;
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    background: #FFF;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.frame-42 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.group-5 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.svg-userinit {
    position: absolute;
    top: 20px;
    right: 20px;
}

.frame-31 {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    width: 48px;
    height: 48px;
    overflow: hidden;
    padding: 10px;
    border-radius: 559px;
    background: var(--white, #FFF);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.summary_content{
    display: flex;
    flex-direction: column;
    align-items: lef;
    flex-wrap: wrap;
}
.summary_cards{
    width: 560px;
    height: 562px;
    position: absolute;
    top: 335px;
    left: 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary_card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A; 
}
.frame-65{
    width: 264px;
    height: 168px;
}
.frame-64{
    width: 168px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 25px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
}
.frame-summary{
    width: 560px;
    height: 168px;
}
.p-headline{
    font-size: 64px !important;
    font-weight: 600 !important;
}
.p-summary{
    font-size: 20px;
}
.logos-summary{
    width: 69px;
    height: 69px;
}

.flex-row-center{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.task{
    padding-left: 300px;
}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 232px;
    min-height: 100vh;
    overflow: hidden;
    padding: 64px 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #2A3D59;
    ;
    flex-direction: column;
    gap: 30vh;
    align-items: center;
    flex-shrink: 0;
}