/* general style */

body {
    /* height: 100vh; */
    background-color: #F6F7F8 !important;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* div {
    display: flex;
} */

text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* index page + login padge */

.loginLogo {
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 265px 0px 265px 0px;
    background: #F6F7F8;
    justify-content: center;
    align-items: center;
}

.logoJoin {
    width: 274px;
    height: 334.072px;
    flex-shrink: 0;
}

.loginInput {
    display: inline-flex;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background: var(--white, #FFF);
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.middle {
    position: absolute;
    left: 50vb;
    top: 25vh;
}

.frame-153 {
    width: 652px;
    height: 493px;
    display: inline-flex;
    overflow: hidden;
    padding: 48px 115px;

    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.frame-159 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    height: 89px;
}

.frame-159-text {
    color: #000;
    font-size: 61px;
    font-weight: bold;
    line-height: 73.2px;
    text-align: center;

}

.frame-250 {
    width: 422px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    align-self: stretch;
}

.log-in-frigma {
    display: flex;
    height: 152px;
    width: 422px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.frame-160 {
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-157 {
    width: 422px;
    height: 48px;
}

.color-input {
    color: #D1D1D1 !important;
}

.frame-158 {
    display: flex;
    padding: 0px 241px 0px 39px;
    align-items: center;
    align-self: stretch;
}

.frame-37 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.check-button {
    width: 24px;
    height: 24px;
}

.check-button-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.frame-176 {
    width: 322px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.frame-156 {
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 35px;
    height: 49px;
    top: 67px;
    right: 122px;
    gap: 35px
}

.frame-156-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* Header*/

.header-figma {
    display: flex;
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    background: #FFF;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.frame-42 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.group-5 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.svg-userinit {
    position: absolute;
    top: 20px;
    right: 20px;
}

.frame-31 {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    width: 48px;
    height: 48px;
    overflow: hidden;
    padding: 10px;
    border-radius: 559px;
    background: var(--white, #FFF);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.summary_content {
    display: flex;
    flex-direction: column;
    align-items: lef;
    flex-wrap: wrap;
}

.summary_cards {
    width: 560px;
    height: 562px;
    position: absolute;
    top: 335px;
    left: 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.summary_card:hover {
    background-color: #2a3647;
    color: #ffffff;
    transform: scale(1.1);

}

.frame-65 {
    width: 264px;
    height: 168px;
}

.frame-64 {
    width: 168px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 25px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
}

.frame-summary {
    width: 560px;
    height: 168px;
}

.p-headline {
    font-size: 64px !important;
    font-weight: 600 !important;
}

.p-summary {
    font-size: 20px;
}

.p-urgentdate {
    font-size: 21px;
    font-weight: 700;
}

.p-urgentdate-text {
    font-size: 16px;
    font-weight: 400;
}

.logos-summary {
    width: 69px;
    height: 69px;
}

.flex-row-center {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.task {
    padding-left: 300px;
}



.singincard {
    width: 598px;
    height: 630px;
    position: absolute;
    top: 30%;
    border-radius: 30px;
    padding: 48px 88px;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.main-sing-up {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.join-logo {
    display: flex;
    z-index: 99999;
    position: absolute;
    top: 10%;
    left: 10%;
}

.frame-154 {
    width: 315px;
    height: 89px;
    gap: 16px;
}

.singup-p {
    width: 315px;
    height: 73px;
    font-weight: bold;
    font-size: 61px;
    line-height: 73.2px;
    text-align: center;
    color: black;
}

.singup {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.frame-212 {
    width: 422px;
    height: 326px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.frame-14 {
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.privacy-p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 231px;
    height: 24px;
    gap: 8px;
}

.check-button-privacy {
    font-size: 16px;
    color: #A8A8A8;
}

.singincardcontent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.singupbtn {
    width: 126px;
    height: 55px;
    border-radius: 8px;
    padding: 15px 24px;
    gap: 10px;
}

input::placeholder {
    color: #d1d1d1 !important;
}

input {
    color: black !important;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 158px;
    background-color: #2a3647;
    position: fixed;
    top: 97px;
    border-radius: 20px 0px 20px 20px;
    -webkit-border-radius: 20px 0px 20px 20px;
    -moz-border-radius: 20px 0px 20px 20px;
}

a {
    text-decoration: none !important;
    color: #CDCDCD !important;
    font-weight: normal;
    font-size: 16px !important;
}

.sub-link {
    width: 130px;
    height: 46px;
    display: flex;
    align-items: center;
}



@media (max-width: 700px) {
    .summary_cards {
        position: fixed;
        top: 10%;
        left: 5%;
        gap: 15px;
    }

    .flex-row-center {
        flex-direction: column;
    }

    .frame-65 {
        width: auto;
    }

    .sub-menu {
        top: 90px;
        right: 0;
    }
}

.reponsiveTemplate {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.W3TemplateDiv {
    width: 100%;
}

.frame-29 {
    padding-bottom: 32px;
}