<div class="newContact d-none" id="newContact">
    <div>
        <form id="addContactForm" onsubmit="addContact(); return false;">
                <input required type="text" id="firstnameInputField" placeholder="Firstname">
                <input required type="text" id="lastnameInputField" placeholder="Lastname">
                <input required type="email" id="mailInputField" placeholder="Email">
                <input required type="tel" id="phoneInputField" placeholder="Phone Number">
                <button>Add Contact</button>
        </form>
                <button onclick="cancleNewContact()">Cancle</button>
    </div>
</div>