<div id="" class="overlay-add-contact d-none">
  <div
    onclick=" emptyInputfields(),closeAddContactOverlay(), showCreateContactBtns()"
    class="close-div"
  >
    <img src="assed/svg/contact-imgs/close.svg" alt="" class="close-img" />
  </div>

  <div class="person-img-group13">
    <img src="assed/svg/\contact-imgs/person.svg" alt="" class="person-img" />
  </div>

  <div id="cancel-create-contact" class="cancel-create-contact">
    <button
      onclick="emptyInputfields() ,closeAddContactOverlay()"
      class="cancel-btn"
    >
      <div class="cancel-btn-txt">Cancel</div>
      <img
        src="assed/svg/contact-imgs/close.svg"
        alt=""
        class="cancel-btn-img"
      />
    </button>

    <button
      onclick="addContact(), closeAddContactOverlay()"
      class="create-contact-btn"
    >
      <div class="create-contact-txt">Create contact</div>
      <div class="create-contact-bounding-box-img">
        <img
          src="assed/svg/contact-imgs/check.svg"
          alt=""
          class="create-contact-img"
        />
      </div>
    </button>
  </div>

  <!-- Buttons for edit contact option -->
  <div id="edit-contact" class="edit-contact d-none">
    <button
      onclick="emptyInputfields() ,closeAddContactOverlay(), removeContact()"
      class="delete-btn"
    >
      <div class="cancel-btn-txt">Delete</div>
      <img
        src="assed/svg/contact-imgs/close.svg"
        alt=""
        class="cancel-btn-img"
      />
    </button>

    <button
      onclick="removeContact(), addContact(), closeAddContactOverlay()"
      class="save-edits-contact-btn"
    >
      <div class="create-contact-txt">Save</div>
      <div class="create-contact-bounding-box-img">
        <img
          src="assed/svg/contact-imgs/check.svg"
          alt=""
          class="save-edits-contact-img"
        />
      </div>
    </button>
  </div>

  <!--Input-Section-->
  <form class="add-contact-textfileds">
    <div class="inputfield-1-around">
      <input
        id="nameInputField"
        type="text"
        class="inputfield-1"
        placeholder="Name"
      />

      <div class="inputfield-img-div">
        <img
          src="assed/svg/contact-imgs/person(1).svg"
          alt=""
          class="inputfield-img"
        />
      </div>
    </div>

    <div class="inputfield-1-around">
      <input
        id="mailInputField"
        required
        type="emai"
        class="inputfield-1"
        placeholder="Email"
      />

      <div class="inputfield-img-div">
        <img
          src="assed/svg/contact-imgs/mail.svg"
          alt=""
          class="inputfield-mail-img"
        />
      </div>
    </div>

    <div class="inputfield-1-around">
      <input
        id="phoneInputField"
        required
        type="tel"
        class="inputfield-1"
        placeholder="Phone"
      />

      <div class="inputfield-img-div">
        <img
          src="assed/svg/contact-imgs/call.svg"
          alt=""
          class="inputfield-phone-img"
        />
      </div>
    </div>
  </form>

  <!--Add-Contact-Sidebar-->
  <div class="contact-sidebar">
    <div class="contact-sidebar-txt-div">
      <div id="contact-sidebar-txt-add" class="contact-sidebar-txt-1">
        Add Contact
      </div>
      <div id="contact-sidebar-txt-edit" class="contact-sidebar-txt-1 d-none">
        Edit Contact
      </div>
      <!--edit-contact-text-->
      <div class="contact-sidebar-txt-2">Tasks are better whith a team</div>
      <div class="contact-sidebar-graphic">
        <img
          src="assed/svg/contact-imgs/Vector 5(2).svg"
          alt=""
          class="contact-sidebar-graphic-img"
        />
      </div>
    </div>

    <div class="contact-sidebar-logo-div">
      <img
        src="assed/svg/contact-imgs/Capa 1.svg"
        alt=""
        class="contact-sidebar-logo"
      />
    </div>
  </div>
</div>
