<div class="board-area">
    <div class="mt-4">
        <div class="frame-191">
            <div class="frame-192">
                <h1 class="frame-40">Board</h1>
                <div class="frame-123">
                    <div class="search-task-web">
                        <input type="search" class="search-input" name="Find Task" id="findtaskinput"
                            placeholder="Search Task">
                        <span class="search-icon">
                            <img src="/assed/svg/search.svg" alt="">
                        </span>

                    </div>
                    <button class="add-new-task-btn" onclick="window.location.href='addtask.html'">
                        <p class="add-new-task-text-div" >Add Task</p>
                        <img src="/assed/svg/add.svg" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="kanban-board">
            <div class="kanban-column" id="todo-column" ondrop="drop('To Do')" ondragover="allowDrop(event)">
                <div class="frame-136 column-title-text ">
                    <p>To Do</p>
                    <div class="plus-button"><img src="/assed/svg/capa-1.svg" alt="" onclick="alert('opentask')"></div>
                </div>
                <div style="all: unset;" id="todo-tasks">                    
                </div>
            </div>
            <div class="kanban-column" id="inprogress-column" ondrop="drop('In progress')"
                ondragover="allowDrop(event)">
                <div class="frame-136 column-title-text ">
                    <p>In Progress</p>
                    <div class="plus-button"><img src="/assed/svg/capa-1.svg" alt=""></div>
                </div>
                <div style="all: unset;" id="inprogress-tasks">                   
                </div>
            </div>
            <div class="kanban-column" id="feedback-column" ondrop="drop('Await feedback')"
                ondragover="allowDrop(event)">
                <div class="frame-136 column-title-text ">
                    <p>Awaiting Feedback</p>
                    <div class="plus-button"><img src="/assed/svg/capa-1.svg" alt=""></div>
                </div>
                <dir style="all: unset;" id="Feedback-tasks"></dir>
            </div>
            <div class="kanban-column" id="done-column" ondrop="drop('Done')" ondragover="allowDrop(event)">
                <div class="frame-136 column-title-text ">
                    <p>Done</p>

                </div>
                <div style="all: unset;" id="done-tasks">                   
                </div>
            </div>
        </div>
    </div>
</div>