<div class="fullTaskCard" id="fullTaskCard">
    <div class="kanban-card" draggable="true" ondragstart="drag()" id="">
        <div class="cardTopic">
            <p class="labels-board-card-label"></p>
            <button class="delete-button" onclick="clearTask()">
                <img src="assed/svg/contact-imgs/close.svg" alt="" class="close-img" />
            </button>
        </div>
        <label class="cardTitle" for="taskDescription"></label>
        <div class="frame-114 cradDescrip" name="taskDescription"></div>
        <div class="cardProgress">
            <div class="progress progress-bar-custom" role="progressbar" aria-label="Example with label"
                aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width:100%"></div>
            </div>

        </div>
        <div class="frame-139 d-none"></div>
        <div class="frame-139">
            <div class="frame-139"></div>
            <img src="" alt="Priority Icon">
        </div>
    </div>
</div>