<div class="sidebar">
  <div class="cap2">
    <img src="/assed/svg/join_logo.svg" alt="">
  </div>

  <!--Icons for Sidebar-->
  <div class="prop-1-default">

    <div class="sideMenu" id="summary" onclick="loadNextSite('summary')">
      <img src="/assed/svg/summary.svg" alt="">
      <h3>Summary</h3>
    </div>

    <div class="sideMenu" id="addtask" onclick="loadNextSite('addtask')">
      <img src="/assed/svg/add_task.svg" alt="">
      <h3>Add Task</h3>
    </div>

    <div class="sideMenu" id="addtask" onclick="loadNextSite('board')">
      <img src="/assed/svg/board.svg" alt="">
      <h3>Board</h3>
    </div>

    <div class="sideMenu" id="addtask" onclick="loadNextSite('contact')">
      <img src="/assed/svg/contact.svg" alt="">
      <h3>Contact</h3>
    </div>

  </div>
</div>





</div>

</div>